body {
	color:white;
}
.container-fluid {
	background-image: url(../images/background.jpg);
	background-size: cover;
	height:700px;
}

.header {
	background-color: rgba(33,25,62,0.8);
	height:90px;
}
.logo img{
	margin-top: 10px;
}
.navigation img {
	margin-top: -10px;
}
.logo:hover {
	cursor: pointer;
}
.project-name {
	line-height: 0.7;
	font-size:20px;
	margin-top:30px;
}
.project-name p {
	font-weight: bold;
	font-size:30px;
}

.navigation {
	margin-top: 20px;
}
.navigation i {
	font-size: 60px;
}
.navigation i:hover {
	cursor: pointer;
} 
.nav-logo,.text-nav {
	display: inline-block;
}
.text-nav {
	font-size:17px;
}
.nav-block {
	padding-left: 27px;
}
.signin, .info {
	height:500px;
	background-color: rgba(33,25,62,0.8);
	margin: 30px 20px 10px;
	text-align: center;
} 
.signin {
	padding-top: 20px;
	font-size:20px;
}
.footer {
	height:70px;
	background-color: rgba(33,25,62,0.8);
	margin:0 20px;
	text-align: center;
	font-weight: bold;
	font-size:25px;
	padding-top:10px;
}
.enter-form {
	height:400px;
	background-color: rgba(175,58,17,1);
	width:70%;
	margin:auto;
	margin-top:21px;
}
.info {
	padding-top:15px;
	font-size:25px;
	font-weight: bold;
}
.tile {
	height: 195px;
	margin: 10px 10px;
	background-color: rgba(175,58,17,1);
	font-size:20px;
	font-weight: bold;
}
.tile div {
	padding-top:80px;
}
.controls {
	padding-top: 50px;
}
.enter-form input {
	margin: 10px 0;
	height: 60px;
	font-size:20px;
	width:80%;
	margin-left: 30px;
}
.enter-form button {
	height:60px;
	width:80%;
	font-size:20px;
}
