	.main {
	background-color: #EBEBEB;
}
.mainpart {
	min-height: 500px;
	margin-bottom: 20px;
}

#calendars .col-md-3 {
	display: inline-block;
	float:none;
}
#scrollBox {
	margin-bottom: 20px;
}

#calendars {
	white-space: nowrap;
	height: 215px;
	width:100%;
	overflow:auto;
}

h3 {
	margin-left: 25px;
	margin-bottom: 5px;
}
.day {
	border: 1px solid black;
	height:200px;
	margin: 0 20px;	
	background-color: white;
	text-align: center;
}
.number {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -0.5em;
}
.month {
	font-size: 20px;
}
.ring,.meet{
	text-align: left;
	font-size: 11px;
	padding-left: 5px;
	margin-top: 30px;
	margin-bottom:-30px;
	color: gray;
}
.quantity {
	float: right;
	padding-right: 5px;
}


