	.main {
	background-color: #EBEBEB;

}
.mainpart {
	min-height: 500px;
	margin-bottom: 20px;
}
.body {
	position: relative;
	top:60px;
}

#scrollBox {
	margin-bottom: 20px;
}

h3 {
	margin-left: 25px;
	margin-bottom: 5px;
}
.day {
	border: 1px solid black;
	height:200px;
	margin: 0 20px;	
	background-color: white;
	text-align: center;
}

.day:hover {
	background-color: #FEF8A0;
}
.number {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -0.5em;
}
.month {
	font-size: 20px;
}
.ring,.meet{
	text-align: left;
	font-size: 11px;
	padding-left: 5px;
	margin-top: 30px;
	margin-bottom:-30px;
	color: gray;
}
.quantity {
	float: right;
	padding-right: 5px;
	font-weight: bold;
	color:black;
}

.next_button, .prev_button {
	background-color:  #DC4C18;
	opacity: 0.4;
	border-radius: 10em;
	color: #fff;
	cursor: pointer;
	font-size: 46px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}


