body {
	font-family: 'Roboto', sans-serif;
}

#menu .fa {
	font-size:50px;
	display: block;
	margin: 10px 0 0 0;
	color: black;
	text-decoration: none;
	opacity: 1;
}

 .fa:hover {
	opacity: 0.5;
	cursor: pointer;
}

nav ul {
 background-color : #DC4C18;
 margin-bottom: 0;
}

nav li {
	list-style-type: none;
}

nav a {
	display: block;
	color:black;
	text-align: center;
	text-decoration: none;
}
nav a:hover {
	text-decoration: none;
	color:black;
}

li.avatar .info {
	padding-left:0;
	padding-right: 0;
	padding-top: 10px;
	margin:0;
}
li.avatar img {
	width:70px;
	height:70px;
}
.glyphicon-off {
	float:right;
}