@section styles {
    @Styles.Render("~/Content/chooseuserStyles")
}
<div class="container-fluid">
    <div class="wrapper">

        <div class="row">
            <div class="head-name">Выберите пользователя</div>
            <div id="groups-users">

            </div>
        </div>
    </div>
</div>
    
    @Scripts.Render("~/Content/chooseuserScripts")
