@{
    ViewBag.Title = "Home Page";
}
@section styles {
    @Styles.Render("~/Content/indexStyles")
}

    <div class="start_page">
        <div class="wrapper">
            <header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1">
                                <div class="logo">
                                    <img src="~/Content/images/logo.png" alt="alt">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <p>IT Business Assistant</p>
                                    <p>Надежный информационный партнер Вашего бизнеса</p>
                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="nav">
                                    <span>Навигация</span>
                                    <img src="~/Content/images/navig.png" alt="alt">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <section class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="wrap-form">
                                    <p>Войдите или зарегистрирутесь</p>
                                    <div class="sign_form">
                                        <div>
                                            <input type="text" placeholder='Логин'>
                                            <input type="password" placeholder='Пароль'>
                                            <button class="btn btn-primary">Войти</button>
                                            <button data-toggle="modal" type="button" class="btn btn-success form-control" data-target="#register">Регистрация</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="tiles">
                                    <p>Ознакомьтесь с нашими продуктами</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="tile">Регистрация</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tile">О проекте</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tile">Сервисы</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tile">Возможности</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tile">Тарифы</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tile">Контакты</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="end">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                14 дней использования абсолютно бесплатно
                            </p>
                        </div>

                    </div>
                </div>
            </section>
            <div class="modal fade" id="register">
                @Html.ValidationSummary(true, "Ошибки")
            </div>
        </div>
    </div>
@Scripts.Render("~/Content/indexScripts")