
@{
    ViewBag.Title = "ХЗ";
}

@section StyleSection {
    <link rel="stylesheet" href="~/Content/style/menu.css"/> 
	<link rel="stylesheet" href="~/Content/style/body.css" />
	<link rel="stylesheet" href="~/Content/style/deals.css" />
	<link rel="stylesheet" href="~/Content/style/events.css" />
}
<div class="container-fluid">
    <div class="row" id="header">

    </div>
</div>
<div class="container-fluid body">
    <div class="row main">

        <div class="mainpart col-md-9">
            <h3>Календарь</h3>

            <div class="row" id="scrollBox">
                <div class="col-md-12" id="calendars">

                </div>
            </div>

            <h3>События</h3>
            <div class="row events">

                <div class="col-md-12" id="events">
                </div>
            </div>
        </div>

        <div class="leftbar col-md-3">
            <div class="row deals">
                <span class="glyphicon glyphicon-cog"> </span>
                <h3>Мои сделки</h3>
                <div class="col-md-12" id="deals">
                </div>
            </div>
        </div>
    </div>
</div>


